.sidebar {
  position: absolute;
  top: 60px;
  right: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar-toggle {
  position: absolute;
  top: 20%;
  left: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
}
.sidebar.open {
  right: 0;
}
.content.open {
  right: 15vw;
}

.nav {
  height: 1000px;
  width: 220px;
  overflow: scroll;
  background-color: black;
  color: #fff;
  position: absolute;
  right: 0px;
}

.active {
  padding-right: 220px;
}
